{% extends "base.html" %}

{% block right %}

{% endblock %}

{% block content %}

<div align="center">
    <form action="" method="post">
        <div>
            <h2 xmlns:border="http://www.w3.org/1999/xhtml">Добавление анекдота</h2>
        </div>
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.name not in ['submit', 'csrf_token'] %}
            <tr align="right">

                <td style="padding: 5px"><h4>{{ field.label }}</h4></td>
                <td align="right" style="padding: 5px">{{ field() }}</td>
                <td style="padding: 5px">{% for error in field.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </td>

            </tr>
            {% endfor %}
        </table>
        <p>{{ form.submit(type="submit", class="btn btn-primary", style="height:50px;width:400px") }}</p>

    </form>
</div>
{% endblock %}