{% extends "base.html" %}

{% block right %}
<h4>Есть идея создать сайт с анекдотами, можно регистрироваться, чтобы ставить лайки, тех кто много дизлайкает, их аккаунт блокируется а почта добавляется в чёрный список</h4>
{% endblock %}

{% block content %}

<h2 align="center" xmlns:border="http://www.w3.org/1999/xhtml" >Анекдоты</h2>
<div class="container-fluid">
    {% for item in anecdots%}
    <table class="table table-bordered">
        <tr>
            <td>{{item.anecdote}}</td>
        </tr>
        <tr>
            <td><a>Автор - {{item.user.nickname}}</a><a>&emsp;&emsp;&emsp;&emsp;дата написания - {{item.date}}</a></td>
        </tr>
        <tr><td>Рейтинг: {{item.rating}}</td></tr>
        {% if current_user.is_authenticated and (current_user == item.user or current_user.id == 1) %}
            <td>
                <a href="/edit_anecdote/{{ item.id }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/delete_anecdote/{{ item.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </td>
            {% endif %}
    </table>
    {% endfor %}
    <div></div>
</div>


{% endblock %}