{% extends "base.html" %}

{% block right %}
{% endblock %}

{% block content %}
<h2 align="center" xmlns:border="http://www.w3.org/1999/xhtml" >Регистрация пользователя</h2>
<div class="row">
    <div class="col-md-4">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <table>
                {% for field in form if field.name not in ['submit', 'csrf_token'] %}
                <tr>
                    <div class="input-group">
                        <td class="label-info">{{ field.label }}</td>
                        <td class="input" style="padding: 5px">{{ field() }}</td>
                        <td>
                            {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </td>
                    </div>
                </tr>

                {% endfor %}
            </table>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

        </form>
    </div>
</div>
{% endblock %}