{% extends "base.html" %}

{% block right %}

{% endblock %}

{% block content %}

<h2 align="center" xmlns:border="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">Пользователи</h2>
<form>
    <input type="search" name="text">
    <input type="submit" value="Найти">
</form>
<div class="container-fluid">
    {% for item in users%}
    <table class="table table-bordered">
        <tr>
            <td><a href="/user/{{ item.id }}" style="font-size:20px; font-weight:bolder;">{{item.nickname}}</a></td>
        </tr>
        <tr>
            <td>
                {% if not current_user.role == 'user' %}
                <a>email - {{item.email}} &emsp;&emsp;&emsp;&emsp;</a>
                <a>&emsp;&emsp;&emsp;&emsp;</a>
                {% endif %}

                {% if item.role == 'moder' %}
                <a>роль - Модератор</a>
                {% elif item.role == 'user' %}
                <a>роль - Пользователь</a>
                {% elif item.role == 'admin' %}
                <a>роль - Админ</a>
                {% endif %}
            </td>
        </tr>
        {% if current_user.is_authenticated and (current_user.role == 'moder' or current_user.role == 'admin') and
        item.id != current_user.id %}
        <td>
            {% if not (item.role == 'admin' or (current_user.role == 'moder' and item.role == 'moder')) %}
            {% if item.banned %}
            <a href="/unban_user/{{ item.id }}" class="btn btn-danger">
                Разбанить
            </a>
            {% else %}
            <a href="/ban_user/{{ item.id }}" class="btn btn-danger">
                Забанить
            </a>
            {% endif %}
            {% endif %}
            {% if current_user.id == 1 and item.banned == False%}
            {% if item.role == 'user' %}
            <a href="/moder_user/{{ item.id }}" class="btn btn-success">
                Сделать модератором
            </a>
            {% elif item.role == 'moder' %}
            <a href="/unmoder_user/{{ item.id }}" class="btn btn-warning">
                Убрать из модераторов
            </a>
            {% endif %}
            {% endif %}

        </td>
        {% endif %}
    </table>
    {% endfor %}
    <div></div>
    <div align="center">
        <ul class="danuas voduv-peksaucub">
            {% if current > 0 %}
            <li><a class="nav-link active" href="/index/{{ current-1 }}">«</a></li>
            {% else %}
            <li><a class="nav-link disabled" href="/index/{{ current-1 }}">«</a></li>
            {% endif %}
            {% for i in pages %}
            {% if i == current + 1 %}
            <li><a class="nav-link disabled" href="/index/{{ i-1 }}">{{ i }}</a></li>
            {% else %}
            <li><a class="nav-link active" href="/index/{{ i-1 }}">{{ i }}</a></li>
            {% endif %}
            {%endfor %}
            {% if current < count - 1 %}
            <li><a class="nav-link active" href="/index/{{ current+1 }}">»</a></li>
            {% else %}
            <li><a class="nav-link disabled" href="/index/{{ current+1 }}">»</a></li>
            {% endif %}
        </ul>
        <br>
    </div>
</div>


{% endblock %}